{% extends 'core/base.html' %}
{% load static %}


{% block content %}
<main class="container-dashboard">
    <!-- <div class="modal">
        <form action="{% url 'cadastrar-experimento' %}" method="post">
            {% csrf_token %}
            <div class='form-titulo'>
                <h4>Cadastrar experiemento</h4>
            </div>
            <div class="form-input">
                <input type="text" name="nome" id="" placeholder="nome">
            </div>
            <div class="form-input">
                <input type="submit" value="cadastrar">
            </div>
        </form>
    </div> -->
    <section class="container-dashboard-barra">
        <div class="caixa">
            <div class="simbolo">
                <span class="material-symbols-outlined">
                    add
                </span>
            </div>
            <div class="titulo">
                <p>Adicionar fórmula</p>
            </div>
        </div>
        <div class="caixa">
            <div class="simbolo">
                <span class="material-symbols-outlined">
                    delete
                </span>
            </div>
            <div class="titulo">
                <p>Deletar fórmula</p>
            </div>
        </div>
        <div class="caixa">
            <div class="simbolo">
                <span class="material-symbols-outlined">
                    add
                </span>
            </div>
            <div class="titulo">
                <p>Adicionar amostra</p>
            </div>
        </div>
        <div class="caixa">
            <div class="simbolo">
                <span class="material-symbols-outlined">
                    delete
                </span>
            </div>
            <div class="titulo">
                <p>Deletar amostra</p>
            </div>
        </div>
    </section>
</main>
{% endblock %}