{% extends 'core/base.html' %}
{% block content %}
    <main class="container-dashboard">
        <div class="modal">
            <form action="{% url 'cadastrar-experimento' %}" method="post">
                {% csrf_token %}
                <div class="form-voltar">
                    <span class="material-symbols-outlined close-modal">
                        undo
                    </span>
                </div>
                <div class='form-titulo'>
                    <h4>Cadastrar experiemento</h4>
                </div>
                <div class="form-input">
                    <input type="text" name="nome" id="" placeholder="nome">
                </div>
                <div class="form-input">
                    <input class="botao-funcional" type="submit" value="cadastrar">
                </div>
            </form>
        </div>
        <div class="modal">
            <form action="{% url 'deletar-experimento' %}" method="post">
                <div class="form-voltar">
                    <span class="material-symbols-outlined close-modal">
                        undo
                    </span>
                </div>
                {% csrf_token %}
                <div class='form-titulo'>
                    <h4>Deletar experiemento</h4>
                </div>
                <div class="form-input">
                    <input type="text" name="nome" id="" placeholder="nome">
                </div>
                <div class="form-input">
                    <input class="botao-funcional" type="submit" value="deletar">
                </div>
            </form>
        </div>
        <section class="container-dashboard-barra">
            <div class="button-open-modal">
                <div class="simbolo">
                    <span class="material-symbols-outlined">
                        add
                    </span>
                </div>
                <div class="titulo">
                    <p>Adicionar experimento</p>
                </div>
            </div>
            <div class="button-open-modal">
                <div class="simbolo">
                    <span class="material-symbols-outlined">
                        delete
                    </span>
                </div>
                <div class="titulo">
                    <p>Deletar experimento</p>
                </div>
            </div>
        </section>
        <section class="container-dashboard-experimentos">
            <div class="container-dashboard-experimentos-titulo">
                <h2>Experimentos</h2>
            </div>
            <div class="container-dashboard-experimentos-itens">
                {% for experimento in experimentos %}
                    <div class="container-dashboard-experimentos-itens-caixa">
                        <div>
                            <p>{{experimento.nome}}</p>
                            <span class="material-symbols-outlined">
                                science
                            </span>
                        </div>
                        <div>
                            <a href="/visualizar-experimento/{{experimento.id}}">Visualizar gráfico</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock %}