{% extends 'core/base.html' %}



{% block content %}
    <main class="container-main">
        <div class="enfeite"></div>
        <section class="container-main-imagem">
            <img src="../../static/core/Images/chemistry.svg"/>
        </section>
        <section class="container-main-texto">
            <div class="container-main-texto-caixa">
                <div class="container-main-texto-caixa-titulo">
                    <h1>Visualização de dados a partir de experimentos químicos</h1>
                </div>
                <div class="container-main-texto-caixa-explicacao">
                    <h3>
                        A visualização de dados desempenha um papel fundamental na análise e interpretação de experimentos químicos. Com os valores fornecidos pela turma do terceiro semestre do integrado, que realizaram práticas laboratoriais com base na Lei de Raoult. Neste projeto, vamos explorar essa aplicação com gráficos que mostram os resultados dos experimentos.
                    </h3>
                </div>
            </div>
        </section>
    </main>
{% endblock %}