{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<script src="{% static 'core/js/visualizar-experimento.js' %}"></script>
<main class="container-grafico">
  <div class="modal-grafico">
    <form action="{% url 'cadastrar-amostra' %}" method="post">
      {% csrf_token %}
      <div class="form-voltar">
        <span class="material-symbols-outlined close-modal">
          undo
        </span>
      </div>
      <div class='form-titulo'>
        <h4>Adicionar amostra</h4>
      </div>
      <div class="form-input">
        <input type="text" name="temperatura" id="" placeholder="Temperatura">
      </div>
      <div class="form-input">
        <input type="text" name="concentracao" id="" placeholder="Concentração">
      </div>
      <div class="form-input" style="display: none;">
        <input type="number" name="id_experimento" id="" value="{{experimento.id}}" placeholder="Temperatura">
      </div>
      <div class="form-input">
        <input class="botao-funcional" type="submit" value="Adicionar">
      </div>
    </form>
  </div>
  <div class="modal-grafico">
    <form action="{% url 'deletar-amostra' %}" method="post">
      {% csrf_token %}
      <div class="form-voltar">
        <span class="material-symbols-outlined close-modal">
          undo
        </span>
      </div>
      <div class='form-titulo'>
        <h4>Deletar amostra</h4>
      </div>
      <div class="form-input" style="display:none;">
        <input type="text"  name="id_experimento" value="{{experimento.id}}"" id="">
      </div>
      <div class="form-input">
       <select name="id_amostra" id="">
        {% for amostra in experimento.amostras.all %}
          <option value="{{amostra.id}}">Temperatura: {{amostra.temperatura}} Concentração: {{amostra.concentracao}}</option>
        {% endfor %}
       </select>
      </div>
      <div class="form-input">
        <input class="botao-funcional" type="submit" value="Deletar">
      </div>
    </form>
  </div>
  <div class="modal-grafico">
    <form action="{% url 'editar-amostra' %}" method="post" id="editar-amostra-form">
      {% csrf_token %}
      <div class="form-voltar">
        <span class="material-symbols-outlined close-modal">
          undo
        </span>
      </div>
      <div class='form-titulo'>
        <h4>Editar amostra</h4>
      </div>
      <div class="form-input">
        <select name="id_amostra" id="select-editar-amostra">
          {% for amostra in experimento.amostras.all %}
          <option value="{{amostra.id}}">Temperatura: {{amostra.temperatura}} Concentração: {{amostra.concentracao}}</option>
          {% endfor %}
        </select>
      </div>

        <div class="form-input">
          <label for="editar-temperatura">Temperatura:</label>
          <input type="text" name="temperatura" id="editar-temperatura" value="{{experimento.amostras.all.0.temperatura}}" placeholder="Temperatura" >
        </div>
        
        <div class="form-input">
          <label for="editar-concentracao">Concentracao:</label>

          <input type="text" name="concentracao" id="editar-concentracao" value="{{experimento.amostras.all.0.concentracao}}" placeholder="Concentração">
        </div>
        <input type="number" name="id_experimento" id="" value="{{experimento.id}}" style="display: none;">
      
      <div class="form-input">
        <input class="botao-funcional" type="submit" value="Editar">
      </div>
    </form>
  </div>
  {% if erro_grafico %}
    <h3 id="aviso-erro-experimento">Por favor, adicione pelo menos duas amostras para visualizar o gráfico</h3>
    <div class="container-grafico-box">
    </div>
  {% else %}
  <div class="container-grafico-box">
    <canvas id="visualizacao-experimento"></canvas>
  </div>
  {% endif %}

  <div class="container-grafico-funcoes">

    <div class="caixa-visualizar">
      <div class="simbolo">
        <span class="material-symbols-outlined">
          add
        </span>
      </div>
      <div class="titulo">
        <p>Adicionar amostra</p>
      </div>
    </div>

    <div class="caixa-visualizar">
      <div class="simbolo">
        <span class="material-symbols-outlined">
          delete
        </span>
      </div>
      <div class="titulo">
        <p>Deletar amostra</p>
      </div>
    </div>

    <div class="caixa-visualizar">
      <div class="simbolo">
        <span class="material-symbols-outlined">
          edit
        </span>
      </div>
      <div class="titulo">
        <p>Editar amostra</p>
      </div>
    </div>

  </div>

</main>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.0/dist/chart.umd.js"></script>
<script>
  (async function () {
   
 
  // Dados do gráfico
// Dados do gráfico
var data = {
  datasets: [{
    label: 'Temperatura vs concentração  ',
    data: [
     {% for amostra in experimento.amostras.all %}
      {x:{{amostra.concentracao}}, y: {{amostra.temperatura}}},
     {% endfor %}
    ],
    borderColor: 'blue',
    backgroundColor: 'aqua',
    fill: false
  },
  {   
      label: 'Regressão linear',
      data: [
        {% for coordenada in coordenadas_regressao %}
          { x: {{coordenada.x}}, y: {{coordenada.y}} },
        {% endfor %}
       
      ],
      borderColor: 'tomato',
      fill: false,
      showLine: true // 
}]
};

// Opções do gráfico
var options = {
  responsive: true,
  title: {
    display: true,
    text: 'Gráfico de Temperatura vs. Concentração'
  },
  scales: {
    x: {
      type: 'linear',
      position: 'bottom',
      beginAtZero:false,
      scaleLabel: {
        display: true,
        labelString: 'Concentração'
      }
    },
    y: {
      beginAtZero:false,
      ticks: {
        beginAtZero: false
      },
      scaleLabel: {
        display: true,
        labelString: 'Temperatura'
      }
    }
  }
};

// Renderizar o gráfico
var ctx = document.getElementById('visualizacao-experimento').getContext('2d');
new Chart(ctx, {
  type:'scatter',
  data: data,
  options: options
});

}) ();

</script>




{% endblock %}