@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    background-color: #efefef;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

#container-header{
    width: 100%;
    height: 10vh;
    background-color: #00FA9A;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0,0,0,0.24) 0px 3px 8px;
}

.container-header-logo{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-header-logo h2{
    color: #1b2e25;
}
.container-header-nav{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.container-header-nav .nav-link{
    font-weight: bold;
    color: #1b2e25;
    text-decoration: none;
}

.container-header-nav .nav-link:hover{
    padding-bottom: 2px;
    border-bottom: 0.2rem solid #fff;
}

@media screen and (max-width:1024px) {

    .container-header-nav a{
        font-size: 0.9rem;
    }
}