.container-grafico{
    width: 100%;
    height: 90vh;
    position: relative;
}

.caixa-visualizar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
    height: 5%;
    margin: 5% 0;
    padding-bottom: 1%;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.container-grafico-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
}

.container-grafico-funcoes{
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    height: 30%;
}

.caixa-visualizar:hover{
    border-bottom: 2px solid #000;
}

.modal-grafico{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-grafico.ativo{
    display: flex;
}
.modal-grafico form{
    width: 30%;
    height: 60%;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 1rem;
    
}


#editar-amostra-form{
    width: 60vw;
    display: flex;
    align-items: center;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

#editar-amostra-form .form-input>    #input-editar-temperatura,#input-editar-concentracao{
    margin: 0 auto;

    width: 60%;
}